

# React Native
.expo/
.expo-shared/

# Environment
.env
.env.*

# Android APK/AAB
*.apk
*.aab

# React Native bundle
*.bundle

# VS Code
.vscode/

# Watchman
.watchmanconfig

# temp
tmp/
temp/
node_modules
